{% extends "global/index.html" %}

{% load static %}

{% block title %}Empréstimos{% endblock title %}

{% block content %}

<div class="container mt-3" style="width: 100%;">

    <!-- Formulário de pesquisa -->
    <form method="GET" class="d-flex justify-content align-items-center" style="margin-top: 100px;" action="">
      <input type="text" name="search" class="form-control" placeholder="Pesquisar por status" value="{{ request.GET.search }}">
      <button type="submit" class="btn custom-header-button" style="margin-right: 35px;">Pesquisar</button>
    </form>

    <div class="d-flex justify-content align-items-center" style="margin-top: 30px;">
      <h2>Tabela de Empréstimos Cadastrados</h2>
      <a href="{% url 'criar_emprestimo' %}" class="btn custom-header-button" style="margin-right: 35px;">Adicionar Empréstimo</a>
  	</div> 
  
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Id</th>
          <th>Status</th>
          <th>Quantidade</th>
          <th>Usuário</th>
          <th>Equipamento</th>
          <th>Data Empréstimo</th>
          <th>Data Devolução</th>
        </tr>
    </thead>
    <tbody>
        {% for emprestimo in emprestimos %}
        <tr>
            <td>{{ emprestimo.id }}</td>
            <td>{{ emprestimo.status }}</td>
            <td>{{ emprestimo.quantidade }}</td>
            <td>{{ emprestimo.usuario }}</td>
            <td>{{ emprestimo.equipamento }}</td>
            <td>{{ emprestimo.data_emprestimo }}</td>
            <td>{{ emprestimo.data_devolucao }}</td>
            <td>
                <a href="{% url 'atualizar_emprestimo' emprestimo.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'deletar_emprestimo' emprestimo.id %}" class="btn btn-danger btn-sm">Remover</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-center">
                Não há empréstimos para serem listados!
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  
{% endblock content %}

{% block footer %}{% endblock footer %}