{% extends "global/index.html" %}

{% load static %}

{% block title %}Equipamentos{% endblock title %}

{% block content %}

<div class="container mt-3" style="width: 100%;">

    <!-- Formulário de pesquisa -->
    <form method="GET" class="d-flex justify-content align-items-center" style="margin-top: 100px;" action="">
      <input type="text" name="search" class="form-control" placeholder="Pesquisar por nome" value="{{ request.GET.search }}">
      <button type="submit" class="btn custom-header-button" style="margin-right: 35px;">Pesquisar</button>
    </form>

    <div class="d-flex justify-content align-items-center" style="margin-top: 30px;">
      <h2>Tabela de Equipamentos Cadastrados</h2>
      <a href="{% url 'criar_equipamento' %}" class="btn custom-header-button" style="margin-right: 35px;">Adicionar Equipamento</a>
  	</div>

    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Validade</th>
          <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        {% for equipamento in equipamentos %}
        <tr>
            <td>{{ equipamento.id }}</td>
            <td>{{ equipamento.nome }}</td>
            <td>{{ equipamento.quantidade }}</td>
            <td>{{ equipamento.validade }}</td>
            <td>{{ equipamento.categoria }}</td>
            <td>
                <a href="{% url 'atualizar_equipamento' equipamento.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'deletar_equipamento' equipamento.id %}" class="btn btn-danger btn-sm">Remover</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">
                Não há equipamentos para serem listados!
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  
{% endblock content %}

{% block footer %}{% endblock footer %}