{% extends "global/index.html" %}

{% load static %}

{% block title %}Interno{% endblock title %}

{% block header %}{% include 'partial/header.html'%}{% endblock header %}

{% block content %}

<style>
    body {
        position: relative;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; /* Remove a barra de rolagem */
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url("{% static 'img/interno_background.jpg' %}");
        background-size: cover;
        background-position: right bottom;
        background-repeat: no-repeat;
        z-index: -1;      /* Coloca a imagem atrás do conteúdo  */
    } 
    
    body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.8);  /* Ajuste a cor e a opacidade da sobreposição */
        z-index: -1;                             /* Mantém a camada atrás do conteúdo */
    } 

    .container {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 120px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text_content {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 46px;
        width: 700px;
        margin-bottom: 20px;
        line-height: 60px;

        color: #FFFFFF;
    }
</style>

<div class="container">
    {% if infos %}
        {% for info in infos %}
        <div class="text_content">
            {{ info }}
        </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}

<aside>
    <!-- Bloco para o Sidebar -->
    {% block sidebar %}
        {% include 'partial/sidebar.html' %}
    {% endblock sidebar %}
</aside>

{% block footer %} {% endblock footer %}
